@{
    ViewBag.Title = "Data Table";
}

    <div class="jumbotron">
        <h1 class="display-4">Welcome to the CSB Assignment</h1>
        <p class="lead">The assignmentis about downloading Sweden total birth statistics from CSB and displaying it.</p>
        <hr class="my-4">
        @Html.ActionLink("View the full birth statistics table", "Index", "DataTable", new { }, new { @class = "btn btn-primary btn-lg" })
        @Html.ActionLink("Browse the birth data by Län", "DataBrowser", "DataTable", new { }, new { @class = "btn btn-primary btn-lg" })
    </div>