@using CSB.Models;

@{
    ViewBag.Title = "Full Data Table";
    DataValue[] data = Data.rawData.data;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="">
    @Html.Partial("_DataTableHeader")
    <div class="">
        @for (int i = Data.rawData.data.Count() - 10; i >= 0; i--)
        {
            @Html.Partial("_RegionRow", i)
            i -= 9;
        }
    </div>
</div>
